BODY { 
    background-color: yellow;
    color:rgb(255, 0, 204);
    padding-left:10em;
}

.navbar {
    padding-left:0em;
    position:absolute;
    left:0em;
    top:0em
     }

.navbar li{
    background-color: white;
    margin:10px;
    padding: 10px;
    border-style:solid;
    border-width: 0 20 0 0;
    border-color: black;
    list-style-type:none;
}

ol{
    width:80%;
    padding:1em;
}

a{color:green;}
a:visited {color:red}